{% extends "citizendialer3000/base.html" %}
{% load markup %}

{% block opengraph %}
    <meta property="og:site_name" content="CitizenDialer3000" />
    <meta property="fb:admins" content="7812952" />
    <meta property="og:title" content="Where do your representatives stand on {{ campaign.title }}" />
    <meta property="og:type" content="cause" />
    <meta property="og:url" content="http://sunlightfoundation.com{% url call_campaign campaign.slug %}" />
    <meta property="og:image" content="http://assets.sunlightfoundation.com/site/4.0/images/icon_governors.jpg" />
{% endblock %}

{% block content %}
    <h2>{{ campaign.title }}</h2>
    <div>
        {{ campaign.content|markdown }}
    </div>
    
    {% if campaign.is_complete %}
    
        <p>This call campaign is complete. Thank you for your help!</p>
        
        {{ campaign.wrapup|markdown }}
    
    {% else %}
    
        <form action="{% url call_campaign campaign.slug %}" method="get">
            <ul>
                <li>
                    <label for="zipcode">Zipcode</label>
                    <input type="text" name="zipcode" id="zipcode" size="5" maxlength="5" value="{{ zipcode }}">
                </li>
            </ul>
            <input type="submit">
        </form>
        {% if contacts %}
            {% if contacts|length == 0 %}
                <p>Sorry, our campaign is not targeting your representatives.</p>
            {% else %}
                <ul>
                    {% for contact in contacts %}
                        <li>
                            <img src="http://assets.sunlightfoundation.com/moc/100x125/{{ contact.bioguide_id }}.jpg" class="avatar">
                            <a href="{% url call_contact campaign.slug contact.pk %}">{{ contact.bio_name }}</a>
                            <p>{{ contact.calls__count }} call{{ contact.calls__count|pluralize }} reported</p>
                            <a href="{% url call_contact campaign.slug contact.pk %}">Call now</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        
    {% endif %}
{% endblock %}