{% extends "citizendialer3000/base.html" %}
{% load cd3000_tags %}

{% block content %}
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>{{ campaign.title }}</h2>
    
    {% if contact.position == '+' %}
        <p>{{ contact.title }}. {{ contact.last_name }} <strong>supports</strong> {{ campaign.title }}</p>
    {% endif %}
    {% if contact.position == '-' %}
        <p>{{ contact.title }}. {{ contact.last_name }} <strong>opposes</strong> {{ campaign.title }}</p>
    {% endif %}
    
    <ol>
        <li>
            <p>Call {{ contact.title }}. {{ contact.last_name }}'s office: {{ contact.phone }}</p>
        </li>
        <li>
            <p>Ask to speak to a legislative aide or you can leave a message with the receptionist.</p>
            <p>Suggested conversation script:</p>
            <blockquote>
                {% if contact.position == '?' %}
                    {% scriptify campaign.script contact.gender %}
                {% endif %}
                {% if contact.position == '+' %}
                    {% scriptify campaign.support_script contact.gender %}
                {% endif %}
                {% if contact.position == '-' %}
                    {% scriptify campaign.oppose_script contact.gender %}
                {% endif %}
            </blockquote>
            {% if contact.position == '?' %}
                <ul>
                    <li>
                        <p>If supports:</p>
                        <blockquote>{% scriptify campaign.yes_response contact.gender %}</blockquote>
                    </li>
                    <li>
                        <p>If opposes:</p>
                        <blockquote>{% scriptify campaign.no_response contact.gender %}</blockquote>
                    </li>
                    <li>
                        <p>Otherwise:</p>
                        <blockquote>{% scriptify campaign.other_response contact.gender %}</blockquote>
                    </li>
                </ul>
            {% endif %}
        </li>
        <li>
            <p>Record the response.</p>
            <form action="{% url call_contact campaign.slug contact.pk %}" method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        <label for="id_position">Position:</label>
                        {{ form.position }}
                    </li>
                </ul>
                <fieldset>
                    <legend>The following fields are optional</legend>
                    <ul>
                        <li>
                            <label for="id_caller_first_name">Your first name:</label>
                            {{ form.caller_first_name }}
                        </li>
                        <li>
                            <label for="id_caller_last_name">Your last name:</label>
                            {{ form.caller_last_name }}
                        </li>
                        <li>
                            <label for="id_caller_email">Your email:</label>
                            {{ form.caller_email }}
                        </li> 
                        <li>
                            <label for="id_caller_zipcode">Your zipcode:</label>
                            {{ form.caller_zipcode }}
                        </li> 
                        <li>
                            <label for="id_notes">Notes:</label>
                            {{ form.notes }}
                        </li>
                    </ul>
                </fieldset>
                <input type="submit">
            </form>
        </li>
    </ol>
    
{% endblock %}